<div id="wrapper">
    <h1><%= title %></h1>
    <div id="countdown"></div>
    <button id="start" class="thoughtbot">Start</button>
    <button id="stop" class="thoughtbot">Stop</button>
    <button id="reset" class="thoughtbot">Reset</button>
    <button id="unused2" class="thoughtbot">&nbsp;</button>
    <button id="zero" class="thoughtbot">&nbsp;</button>
    <button id="resetShort" class="thoughtbot">Reset Short</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
const connectRoom = function(room) {
        var socket = io(room);

        socket.on('time', (data) => document.getElementById('countdown').innerHTML = data.time);

        document.getElementById('start').onclick = () => socket.emit('click:start');
        document.getElementById('stop').onclick = () => socket.emit('click:stop');
        document.getElementById('reset').onclick = () => socket.emit('click:reset');
        document.getElementById('resetShort').onclick = () => socket.emit('click:resetShort');
}

connectRoom('/<%= room %>');
</script>
