<style>
table {
    font-size: xx-large;
    width: 100%;
    height: 100%;
}
td a {
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}
</style>
<div id="wrapper">
<table>
    <% for(let [slug, room] of Object.entries(rooms)) { %>
<tr>
        <td><a href="<%= slug %>/"><%= room %></a></td>
        <td><a href="<%= slug %>/control"><%= room %> control</a></td>
</tr>
    <% } %>
</table>
</div>
